@model Auction_House_MVC.Models.AuctionSetUp
@{
    ViewBag.Title = "AddAuctionPartial";
}

@using (Html.BeginForm("CreateAuctionDetails", "Auction"))
{
    <div>
        <fieldset>
            <!-- Description -->
            <div class="editor-label">
                @Html.LabelFor(aS => aS.Description)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(aS => aS.Description)
                <p style="color:red;">@Html.ValidationMessageFor(aS => aS.Description)</p>
            </div>

            <!-- Start Price -->
            <div class="editor-label">
                @Html.LabelFor(aS => aS.StartPrice)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(aS => aS.StartPrice, new { type = "number", min = "0", step = "0.01" })
                <p style="color:red;">@Html.ValidationMessageFor(aS => aS.StartPrice)</p>
            </div>

            <!-- Bid Interval -->
            <div class="editor-label">
                @Html.LabelFor(aS => aS.BidInterval)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(aS => aS.BidInterval, new { type = "number", min = "0", step = "0.01" })
                <p style="color:red;">@Html.ValidationMessageFor(aS => aS.BidInterval)</p>
            </div>

            <!-- Buy Out Price -->
            <div class="editor-label">
                @Html.LabelFor(aS => aS.BuyOutPrice)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(aS => aS.BuyOutPrice, new { type = "number", min = "0", step = "0.01" })
                <p style="color:red;">@Html.ValidationMessageFor(aS => aS.BuyOutPrice)</p>
            </div>

            <!-- End Date -->
            <div class="editor-label">
                @Html.LabelFor(aS => aS.EndDate)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(aS => aS.EndDate, new { type = "date" })
                <p style="color:red;">@Html.ValidationMessageFor(aS => aS.EndDate)</p>
            </div>

            <!-- Category -->
            <div class="editor-label">
            @Html.LabelFor(aS => aS.SelectedCategory)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(aS => aS.SelectedCategory, new SelectList(Model.Categories, "Value", "Text"), "Select")
            <p style="color:red;">@Html.ValidationMessageFor(aS => aS.SelectedCategory)</p>
        </div>


            <input type="submit" value="Submit" class="btn btn-primary" />
        </fieldset>
    </div>
}