@model Auction_House_MVC.Models.AuctionPicture
@{
    ViewBag.Title = "AddPictures";
}

<!-- TODO: PASS AUCTION ID TO HERE AT ID HARDCODED 5 MVC DOES NOT KNOW HOW TO MVC-->
@using (Html.BeginForm("AddPictureToMemory", "Auction", new { id = Html.DisplayFor(m => m.Id) } ,FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend> Upload Image </legend>

        <!-- Description -->
        <div class="editor-label">
            @Html.LabelFor(m => m.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(m => m.Description)
            <p style="color:red;">@Html.ValidationMessageFor(m => m.Description)</p>
        </div>

        <div class="editor-label">

        </div>
        <div class="editor-field">

            @Html.TextBoxFor(m => m.FileStream, new { type = "file", placeholder = Html.DisplayNameFor(m => m.FileStream), @class = "form-control" })

            <p style="color:red;">@Html.ValidationMessageFor(m => m.FileStream)</p>
        </div>
        <br />
        <input type="submit" value="Upload" class="btn btn-primary" />
    </fieldset>
}
