@model Auction_House_MVC.Models.AuctionModel
@{
    ViewBag.Title = "Auction";
}

<h2>Auction</h2>

<ul class="list-group">
    <li class="list-group-item">@Model.Description</li>
    <li class="list-group-item">@Model.Category</li>
    <li class="list-group-item">@Model.StartDate</li>
    <li class="list-group-item">@Model.EndDate</li>
    <li class="list-group-item">@Model.StartPrice</li>
    <li class="list-group-item">@Model.BidInterval</li>
    <li class="list-group-item">@Model.BuyOutPrice</li>
</ul>
